@import "./const";

#contact {
  border-top: 2px solid $primaryClr;
  background: black;
  color: white;
  // padding: 30px;
  display: grid;
}

.links-container {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.info-container {
  display: flex;
  align-items: center;
  margin: 5px;
}

.info-container .logo {
  margin-right: 4px;
  font-weight: bolder;
  background: white;
  border-radius: 5px;
}

.links-container > a {
  color: white;
  text-decoration: none;
}

.footer-txt {
  margin-top: 30px;
  text-align: center;
  font-size: 8px;
}

@media screen and (max-width: 900px) {
  .links-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .links-container {
    flex-direction: column;
    align-items: end;
  }
  .footer-txt {
    text-align: end;
    color: black;
  }
}
