@import "./const";

#education {
  display: grid;
  place-content: center;
  background: #000;
  color: white;
  padding: 30px;
}

#education > h1,
#education ul li {
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.5s;
}

.show {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

#education > h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

#education > h1::after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background: white;
}

.address {
  color: grey;
}

.year,
.marks {
  color: $primaryClr;
}

.indent {
  margin-left: 30px;
}

// copied from https://www.w3schools.com/howto/howto_css_bullet_color.asp

#education ul {
  list-style: none; /* Remove default bullets */
}

#education ul li::before {
  content: "→"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $primaryClr; /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
