@import "./const";

#projects {
  background: rgb(60, 60, 60);
  overflow-x: hidden;
}

#projects > h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

#projects > h1::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background: white;
  margin-top: 10px;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  cursor: default;
}

.projects-card {
  box-shadow: rgba(0, 0, 0, 1) 0px 25px 20px -20px;
  color: white;
  position: relative;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 15px;
  display: grid;
  transition: 0.5s;
}
// class for animation
.bright-shadow {
  transition: 1s;
  box-shadow: rgb(255, 255, 255) 0px 25px 20px -20px;
}

.projects-card > p {
  color: rgb(139, 139, 139);
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.projects-card > a {
  max-height: 30px;

  padding: 20px;
  margin: 5px;

  color: white;
  font-size: 0.8rem;
  font-weight: bolder;
  background: $primaryClr;

  border-radius: 5px;
  text-decoration: none;

  position: absolute;
  bottom: 5px;
  left: 10px;
  //   width: 100%;

  display: grid;
  place-content: center;
  transition: 0.5s;
}

.projects-card > a {
  @include hoverEffect();
}

.projects-card > a:hover {
  transform: translate(0px, -3px);
  color: $primaryClr;
  background: white;
}
