@import "./const";

#projects {
  background: black;
}

#projects > h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

#projects > h1::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background: white;
  margin-top: 10px;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card-container {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 20px;
  cursor: default;
}

.projects-card {
  // border: 2px solid rgb(38, 38, 38);
  border: 1px solid black;
  color: white;
  width: 240px;
  position: relative;
  background: rgb(255, 255, 255, 0.02);
  border-radius: 10px;
  padding: 15px;
  display: grid;
  transition: 0.5s;
}

.projects-card:hover::before{
  opacity: 1;
}

.projects-card::before{
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(1, 130, 118, 0.3),
    transparent 40%,
  );
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  border-radius: inherit;
  content: ""; 
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
}

.projects-card > p {
  color: rgb(139, 139, 139);
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.projects-card > a {
  max-height: 30px;

  padding: 20px;
  margin: 5px;

  color: white;
  font-size: 0.8rem;
  font-weight: bolder;
  // background: $primaryClr;

  border-radius: 5px;
  text-decoration: none;

  position: absolute;
  bottom: 5px;
  // left: 10px;
  //   width: 100%;

  display: grid;
  place-content: center;
  transition: 0.5s;
}

.projects-card > a:hover {
  color: $primaryClr;
}
